$fontOpenSans: 'Open-Sans', sans-serif;

:root {
	--primary-color: #29cd2e;
	--secondary-color: #2950cd;
	--success-color: #28a745;
	--danger-color: #dc3545;
}

$primaryClr: #29cd2e;
$secondaryClr: #2950cd;
$buttonClr: #ffa33f;
$lightBlue: #f9ffff;
$min_vw: 370px;
$max_vw: 3840px;
$min_font: 14px;
$max_font: 24px;
